@import url('https://fonts.googleapis.com/css?family=Knewave');

* {
    margin: 0;
}

html, body {
    height: 100%;
}

body {
    width: 100%;
    background-color: #fffff0;
}

#header {
    width: 100%;
    height: 70px;
    background-color: #484a59;
    position: absolute;
    text-align: center;
}

#header__logo {
    color: #fffff0;
    font-family: "Knewave";
    font-size: 3em;

    display: inline-block;
    margin: 0 auto;
}

